// Place all the styles related to the colors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.colors {
  width: 100%;
  height: 100%;
  position: relative;

  .row {
    height: 20%;

    &:nth-child(odd) {
      background: black;
    }
  }

  .players {
    position: absolute;
    height: 100%;
    width: 0px;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
  }

  .player {
    top: 0;
    left: 0;
    height: 20%;
    position: absolute;
    background: transparent;

    img {
      height: 100%;
    }

    .ready {
      position: absolute;
    }

    &.center {
      margin: 0 auto;
      width: 100px;
      left: 0;
      right: 0;
    }
  }

  button {
    position: absolute;
    bottom: 10%;
  }

  .slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    top: 0;
    left: 0;
    opacity: 0;

    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    transition: 1s linear all;

    &.visible {
      opacity: 1;
    }
  }
}

.animated {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  transition: 1s linear all;
}
